main {
    display: flex;
    width: 100%;
}

.filters {
    min-width: 7rem;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.75rem;
}

.data-entry {
    word-wrap: break-all;
}

.time-row {
    width: 16%;
}

.method-row {
    width: 10%;
}

.host-row {
    width: 14%;
}

.path-row {
    width: 10%;
}

.request-body-row {
    width: 50%;
}

.header {
    background-color: white;
    position: sticky;
    top: 0;
}

.log-table {
    overflow-x: scroll;
    width: 100%;
}